/* all padding and margins set to zero and the box sizing is 
birder box means width and height is inclusive of the padding and borders
 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

/* transfrom al the links to white and remove the underline */
a {
    text-decoration: none;
    color: white;
}

/* add a bluish layer on the hero picture */
.hero::before {
    background-color: #3b5096;

    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
}

.hero {
    position: absolute;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    width: 100%;

}


.nav-bar {
    position: relative;
    display: flex;
    align-content: center;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 90%;
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 6px;
}

.logo img {
    width: 100px;
    z-index: 100;
    height: 100%;
    /* background-size:cover;
    background-repeat: no-repeat;
    z-index: 2; */

}

.nav-items {
    position: relative;
    right: 0px;

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 819px;
    z-index: 1000;


}

.nav-items li {
    list-style: none;


}


.nav-items a {
    font-weight: 700;
    text-transform: uppercase;
}