/* all padding and margins set to zero and the box sizing is 
birder box means width and height is inclusive of the padding and borders
 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

/* transfrom al the links to white and remove the underline */
a {
    text-decoration: none;
    color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* add a bluish layer on the hero picture */
.hero::before {
    background-color: #143162;

    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
}

.hero {
    position: absolute;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1;
    height: 850px;
    width: 100%;

}


.nav-bar {
    position: relative;
    display: flex;
    align-content: center;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 90%;
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 6px;
}

.nav-logo img {
    width: 100px;
    z-index: 100;
    height: 100%;



}

.nav-items {
    position: absolute;
    right: 0px;

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 819px;
    z-index: 1000;


}

.nav-items li {
    list-style: none;
}


.nav-items a {
    font-weight: 550;
    text-transform: uppercase;
    font-size: 15px;
}


.banner {

    /* margins from each side */
    margin-top: 113px;
    margin-bottom: 113px;
    margin-left: 159px;
    margin-right: 159px;

    /* text color */
    color: #fff;
    /* other text properties */
    font-size: 16px;
    line-height: 1.5;

    /* position and display */

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-logo {
    background-image: url('images/kali-dragon-icon.svg');
    background-position: 100% 30px;
    background-repeat: no-repeat;
    filter: drop-shadow(20px 20px 20px #153f86);
    width: 500px;
    height: 503px;
    left: 0px;
    display: block;
}

.banner-text {
    padding: 80px;
    margin: 0 60px;
    text-shadow: 0 0 20px #000;
    width: 600px;
    display: block;
}

.banner-text h1 {
    color: #fff;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    margin-bottom: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-text p {
    color: #fff;
    line-height: 1.8;
    opacity: 1;

}

.banner-text>div:last-child {
    margin: 30px 0;
}

.banner-text #download-button {


    margin-right: .75em;
    color: #fea44c !important;
    background: 0 0;
    box-shadow: inset 0 0 0 .15em #fea44c,
        0 2px 2-px #563719;
    text-shadow: 0 2px 5px #563719;
}


.banner-text #documentation-link {

    margin-left: .75em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 -.43em rgba(0, 0, 0, .2), 0 2px 20px #1b51ad;
}

.banner-text .btn {
    width: 180px;
    white-space: nowrap;
    padding: 1.29em .71em;
    transition: box-shadow .4s, transform .2s, background .4s, color .4s;
    border-radius: .43em;
}

.btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 44px;
    font-weight: 700;
    border: 0;
    text-align: center;
}


.banner-text .btn i {
    margin: 0 5px;
    text-shadow: .5px .5px .25px, -.5px -.5px .25px, .5px -.5px .25px,
        -.5px .5px .25px, 0 4px 3px rgba(0, 0, 0, .5);
}


/* animation of the bounce button */

bounce animation {
    transform: translateY(-6.24958px) scaleY(0.837504);
}
#down-arrow {
    position: absolute;
    bottom: 70px;
    right: 50%;
    animation: bounce 1s cubic-bezier(.5,.05,1,.5) infinite alternate;
    transform-origin: right bottom;
}


#down-arrow div {
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 0 0 3px 10px;
}

