/* all padding and margins set to zero and the box sizing is 
birder box means width and height is inclusive of the padding and borders
 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body {
    line-height: 1.5;
}

/* transfrom al the links to white and remove the underline */
a {
    text-decoration: none;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* add a bluish layer on the hero picture */
.hero::before {
    background-color: #143162;

    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
}

.hero {
    position: absolute;
    top: 0;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1;
    height: 900px;
    width: 100%;

}

.nav-bar a{
    color: white;
}
.nav-bar {
    position: relative;
    display: flex;
    align-content: center;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 90%;
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 6px;
}

.nav-logo img {
    width: 100px;
    z-index: 100;
    height: 100%;



}

.nav-items {
    position: absolute;
    right: 0px;

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 819px;
    z-index: 1000;


}

.nav-items li {
    list-style: none;
}


.nav-items a {
    font-weight: 550;
    text-transform: uppercase;
    font-size: 15px;
}


.banner {

    /* margins from each side */
    margin-top: 70px;
    margin-bottom: 122px;
    margin-left: 75px;
    margin-right: 94px;

    /* text color */
    color: #fff;
    /* other text properties */
    font-size: 18px;
    line-height: 1.5;

    /* position and display */

    position: relative;
    display: flex;
    justify-content: center;


}

.banner-logo {
    background-image: url('images/kali-dragon-icon.svg');

    background-repeat: no-repeat;
    filter: drop-shadow(20px 20px 20px #153f86);
    width: 470px;
    height: 470px;
    display: block;
}

.banner-text {
    padding: 10px;

    margin: 50px 100px 0 0;

    text-shadow: 0 0 20px #000;
    width: 550px;
    display: block;
    color: #fff;
}

.banner-text h1 {
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    
}

.banner-text p {

    line-height: 1.6;
    
    opacity: 1;
    font-size: 19px;
    font-weight: lighter;


}

.banner-text>div:last-child {
    margin: 30px 0;
    display: flex;
}



.banner-text #download-button {


    margin-right: .75em;
    color: #fea44c !important;
    background: 0 0;


    box-shadow: inset 0 0 0 .15em #FEA44C, 0 2px 20px #563719;
    text-shadow: 0 2px 5px #563719;
}


.banner-text #documentation-link {

    margin-left: .75em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 -.43em rgba(0, 0, 0, .2), 0 2px 20px #1b51ad;
}

.banner-text .btn {
    width: 180px;
    white-space: nowrap;
    padding: 1.29em .71em;

    border-radius: .43em;
}

.btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 44px;
    font-weight: 700;
    border: 0;
    text-align: center;
    z-index: 500;

    background: #367bf0;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(54, 123, 240);
}


.banner-text .btn i {
    margin: 0 5px;
    text-shadow: .5px .5px .25px, -.5px -.5px .25px, .5px -.5px .25px,
        -.5px .5px .25px, 0 4px 3px rgba(0, 0, 0, .5);
}


#down-arrow {
    position: absolute;
    bottom: 50px;
    right: 50%;
    animation: bounce 1s cubic-bezier(.5, .05, 1, .5) infinite alternate;
    transform-origin: right bottom;
}

#down-arrow div {
    display: block;
    width: 15px;
    height: 15px;
    /* this actually creates the arrow */
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 0 0 3px 10px;
}

/* Bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(-6.25px) scaleY(0.84);
    }
}



/* KALI HIGH LIGHTS
 */



#kali-highlights {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1800px;
    padding-top: 120px;
    padding-bottom: 120PX;
    
}

#kali-highlights>div {
    text-align: center;
}

#kali-highlights h1 {
    font-size: 45px;
    font-weight: 700;

    background-image: linear-gradient(159deg, rgb(12, 12, 243), rgb(216, 35, 216));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}



#kali-highlights h3 {
 max-width: 700px;
    font-weight: 400;
font-size: 26px;
text-align: center;
margin: 0 auto;
}

ul{
    list-style-type: none; 
    font-size: 15px;
}

#kali-highlights ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
    margin: auto;


}




#kali-highlights li{
    width: 370px;
    line-height: 1.8;
    padding: 20px 20px 0;
    text-align: justify;
    position: relative;
}

#kali-highlights a>h4{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;

}

#kali-highlights p{
    color:#eeeeec;
    font-size: 15px;

}



#kali-highlights figure{
    position: relative;
    max-width: 1340px;
    margin: 60px auto 100px;
    width: 90%;
}

img{
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box ;
    overflow: clip;
}

#kali-highlights figure img:first-child{
    width: 107%;
    margin-top: -2.5%;
    margin-left: -3.5%;
    height: auto;
}

#kali-highlights figure img:last-child{
    position: absolute;
    width: 84%;
    left: 8%;
    border-radius: 4px;
   top: 2%;
}